<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add artist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>Add artist</h1>
    <form th:object="${artist}" th:action="@{../saveartist}" action="#" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{artistName}" class="form-control" />
        <div th:if="${#fields.hasErrors('artistName')}" th:errors="*{artistName}">Error</div>
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="startingYear">Active since</label>
        <input type="text" id="startingYear" th:field="*{startingYear}" class="form-control" />

        <div style="clear: both; display: block; height: 10px;"></div>

        <input type="submit" class="btn btn-primary" value="Save" />
    </form>

</body>

</html>