<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>List of artists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>🎤 Artists 🎤</h1>
    <div class="col-md-4" sec:authorize="hasAuthority('ADMIN')">
        <h3>Welcome <span sec:authentication="name"></span></h3>
    </div>
    <div style="clear: both; display: block; height: 20px;"></div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Active since</th>
                <th>Songs</th>
                <th>Albums</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="artist : ${artists}">
                <td th:text="${artist.artistName}">Name</td>
                <td th:text="${artist.startingYear}">Length</td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deleteartist/{id}(id=${artist.artistId})}" class="btn btn-danger">Delete</a>
                </td>
                <td><a th:href="@{/edit/editartist/{id}(id=${artist.artistId})}" class="btn btn-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add/addartist" class="btn btn-success">Add Artist</a>
    <div style="clear: both; display: block; height: 20px;"></div>
    <a href="/index" class="btn btn-primary">Return to home page</a>
</body>

</html>