<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>List of genres</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>🎵 Genres 🎵</h1>
    <div class="col-md-4" sec:authorize="hasAuthority('ADMIN')">
        <h3>Welcome <span sec:authentication="name"></span></h3>
    </div>
    <div style="clear: both; display: block; height: 20px;"></div>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Songs</th>
            </tr>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.genreName}">Name</td>
                <!-- <td th:text="${genre.songs}">Songs</td> -->
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deletegenre/{id}(id=${genre.genreId})}" class="btn btn-danger">Delete</a>
                </td>
                <td><a th:href="@{/edit/editgenre/{id}(id=${genre.genreId})}" class="btn btn-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add/addgenre" class="btn btn-success">Add Genre</a>
    <div style="clear: both; display: block; height: 20px;"></div>
    <a href="/index" class="btn btn-primary">Return to home page</a>

</body>

</html>