<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit album</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>Edit album</h1>

    <form th:object="${album}" th:action="@{/saveeditalbum}" action="#" method="post">
        <input type="hidden" id="id" th:field="*{albumId}" readonly="readonly" class="form-control" />
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{albumName}" class="form-control" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="publishYear">Published in</label>
        <input type="text" id="publishYear" th:field="*{publishYear}" class="form-control" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="artist">Artist</label>
        <input type="text" id="artist" th:field="*{artist}" class="form-control" />

        <div style="clear: both; display: block; height: 10px;"></div>

        <input type="submit" class="btn btn-success" value="Save edits" />
    </form>

</body>

</html>