<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>List of albums</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>Albums</h1>
    <div class="col-md-4">
        <h3>Welcome <span sec:authentication="name"></span></h3>
    </div>
    <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
        </form>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Published</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Songs</th>
                <th></th>
                <th></th>

            </tr>
            <tr th:each="album : ${albums}">
                <td th:text="${album.albumName}">Name</td>
                <td th:text="${album.publishYear}">Publishing year</td>
                <td th:text="${album.artist}">Artist</td>
                <td th:text="${album.genre}">Genre</td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deletealbum/{id}(id=${album.albumId})}" class="btn btn-danger">Delete</a>
                </td>
                <td><a th:href="@{/editalbum/{id}(id=${album.albumId})}" class="btn btn-warning">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/addalbum" class="btn btn-success">Add Album</a>
    <div style="clear: both; display: block; height: 20px;"></div>
    <a href="/index" class="btn btn-primary">Return to home page</a>

</body>

</html>