<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Musicapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>Welcome to my MusicApp!</h1>

    <a href="/songlist">List of song recommendations</a><br />
    <a href="">List of recommended artists</a><br />
    <a href="">List of recommended albums</a><br />
    <a href="">List of genres</a>

</body>

</html>