<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Music App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        div {
            text-align: center;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/6654/6654978.png">
</head>

<body>
    <h1>🎶💗 Welcome to my MusicApp! 💗🎶</h1>
    <br />
    <p>Here you can find recommendations of songs, artists, albums and genres</p>
    <p>Feel free to add in your favorites as well!</p>
    <div>
        <div style="clear: both; display: block; height: 20px;"></div>
        <a href="/list/songlist" class="btn btn-primary">List of song recommendations</a>
        <a href="/list/artistlist" class="btn btn-primary">List of recommended artists</a>
        <div style="clear: both; display: block; height: 20px;"></div>
        <a href="/list/albumlist" class="btn btn-primary">List of recommended albums</a>
        <a href="/list/genrelist" class="btn btn-primary">List of genres</a>
    </div>
</body>

</html>